<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Aspect Level Analysis</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/journal/bootstrap.min.css">
  <style>
    body {
      height: 100%;
      width: 100%;
      background-color: #38ada9;
    }

    .container {
      height: 100%;
    }

    .jumbotron {
      margin-top: 10%;
      background-color: #fff;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="jumbotron">
        <h1>Feature Specific Review!!</h1>
        <div><img src='{{graph}}'></img></div>
    </div>
  </div>
</body>

</html>